@charset "UTF-8";
body {
  font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

.wrapper {
  width: 100%;
  display: relative;
}

.header {
  top: 0;
  width: 100%;
  height: 45px;
  position: fixed;
  /* 固定位置 */
  background: #93cb18;
}

.content {
  width: 100%;
  margin-top: 45px;
  /* 撐開 header 的高度 */
  margin-bottom: 68px;
  /* 撐開 menu 的高度 */
}
.content .li-item {
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.content .person {
  width: 50px;
  height: 49px;
  float: left;
  background: #efefef;
}

.menu-wrap {
  width: 100%;
  height: 68px;
  position: fixed;
  /* 固定位置 */
  bottom: 0px;
  background: #333;
}
.menu-wrap ul {
  width: inherit;
  height: inherit;
}
.menu-wrap .li-icon {
  width: 25%;
  height: inherit;
  border: 1px solid #ddd;
  float: left;
  /* 文字 */
  color: #fff;
  line-height: 68px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
