@import 'compass/css3';

/*** transition 傳入的4個參數與代表的意義
transition-property          指定 transition 效果所要控制的屬性。
transition-duration          指定多少時間完成 transition 效果。
transition-timing-function   指定 transition 的速度效果。
transition-delay             指定 transition 效果的開始時間。 **/

.pagination {
    width: 80%;
    margin:80px auto;
    font-family: poiret-one, sans-serif;
    text-align: center;
    @include display-flex; 
}

.pagination-item-continue {
    height: 2em;
    line-height: 2;
}

.pagination-item {
    a {
        width: 2em;
        height: 2em;
        line-height: 2;
        background-color: #6cf;
        color:#fff;
        text-decoration: none;
        display: inline-block;
        /* 補間動畫 */
        @include transition(all 0.5s);
        @include border-radius(50%);

        &:hover {
            @include scale(1.3);
        }
    }
    &.selected a {
        background-color: #33f;
    }
    @include flex(1);
}

.pagination-item-prev, .pagination-item-next {
    a {
        color: #6cf;
        text-decoration: none;
    }
    font-weight: bold;
    height: 2em;
    line-height: 2;
    @include flex(0.5);
} 

.pagination-item-prev a{
    &:before {
        content: '<<';
        padding: 0 0.3em 0 0;
    };
}

.pagination-item-next a{
    &:after {
        content:'>>';
        padding: 0 0 0 0.3em;
    };
}
