.m-icon {
  width: 320px;
  height: 64px;
  background: #333;
}
.m-icon li {
  width: 80px;
  height: 64px;
  float: left;
  background-image: url("../img/icons-s033033d8ab.png");
}

.line {
  background-position-y: 0px;
}

.line.is-active {
  background-position-y: -64px;
}

.member {
  background-position-y: -128px;
}

.member.is-active {
  background-position-y: -192px;
}

.message {
  background-position-y: -256px;
}

.message.is-active {
  background-position-y: -320px;
}

.options {
  background-position-y: -384px;
}

.options.is-active {
  background-position-y: -448px;
}
